h1 {
  text-align: center;
  color: black;
}

a{
text-decoration: none;
color: black;
}

.KITM{
    width: 70px;
    height: auto;
}

nav {
    margin: 0px;
    background-color: #9aceeb;
}


.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.list li {
    margin: 0 40px;
}


h2 {
  text-align: center;
}

p {
  text-align: center;
}

.map {
  text-align: center;
  margin-top: 3%;
}

.Phone-numberr {
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.phone-icon {
  width: 25px; 
  height: 25px; 
  margin-right: 10px;
}

.phone-number {
  font-size: 18px; 
}

.Location-icon {
  width: 25px; 
  height: 25px; 
  margin-right: 10px;
  text-align: center;
}

.Location {
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.address {
  font-size: 18px; 
}

.mail {
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.mail-icon {
  width: 25px; 
  height: 25px; 
  margin-right: 10px;
}

.email {
  font-size: 18px; 
}



.textas {
  background-color: #9aceeb;
  color: #000000;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 102, 255, 0.5);
  flex-basis: auto; 
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}



body {
  background-color: #4a95bd;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  flex-direction: column; 
  text-align: center;
}


nav {
  position: absolute; 
  top: 0;
  width: 100%; 
  background-color: #9aceeb;
}

header {
  background-color: #00c3ff;
  padding: 10px;
  color: white;
  text-align: center;
}


.texto-blokai {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px; 
  margin: 20px auto;
  padding: 20px;
  gap: 15px;
  text-align: center;
}

.Kontaktai {
  color: rgb(0, 0, 0);
  border: 6px solid rgb(255, 255, 255);
  border-radius: 100px;
  box-shadow: 10px 10px 9px rgba(0, 102, 255, 0.5);
  background-color: #9aceeb;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
}
